{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main role="main">


      	<div class="container marketing">


      		<hr class="featurette-divider">

      		<div class="row featurette">
      			<div class="col-md-7">
      				<h2 class="featurette-heading">Andrew Malitchuk<br>
      					<span class="text-muted">Ivano-Frankivsk National Technical University of Oil and Gas <br> Ivano-Frankivsk<br> Ukraine<br>
Software engineering department, Bachelor</span>
      				</h2>
      				<p class="lead"><a href="mailto:andrew.malitchuk@gmail.com">Email</p>
      				<p class="lead"><a href="https://github.com/AndrewMalitchuk">GitHub</a></p>
      			</div>
      			<div class="col-md-5">
      				<img class="featurette-image img-fluid mx-auto" src="https://avatars0.githubusercontent.com/u/28341342?s=460&u=72edfc87638f09f76fb3f9738b5d97608a9509e2&v=4" alt="https://avatars0.githubusercontent.com/u/28341342?s=460&u=72edfc87638f09f76fb3f9738b5d97608a9509e2&v=4">
      			</div>
      		</div>



      	</div>


      </main>

{% endblock %}