{% extends 'pages/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}
{% render_table table %}
<script>
    document.title="cinema-table"
    $('.btn-danger').click(function() {
        var temp=$(this).attr("delete-link")
        $.bs.popup.confirm({
            title: 'Видалення',
            info: 'Ви дійсно хочете видалити даний запис?'
        }, function(dialogE) {
            dialogE.modal('hide');
            $.ajax({
                url: 'http://{{request.META.HTTP_HOST}}/admin/server_app/cinema/'+temp+'/delete/',
                type: 'POST',
                success: function(result) {
                    location.reload();
                },
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            });
        });
    });
    $('.kek').click(function(){
        // var temp=$(this).attr("about-link")
        // location.href = "http://{{request.META.HTTP_HOST}}/api/v1/cinema/"+temp
        console.log("click")
    });
     $('.btn-primary').click(function(){
        var temp=$(this).attr("update-link")
        window.open('http://{{request.META.HTTP_HOST}}/api/v1/form/cinema/'+temp+'/update')
    });


</script>
{% endblock %}